name: ProStorage Sync
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '*/30 * * * *' 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install tgdb
      - name: Run Storage Sync
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          SESSION: ${{ secrets.SESSION }}
          CHANNEL: ${{ secrets.CHANNEL }}
        run: node index.js